.container {
     position: relative;
}


textarea {
    padding: 16px;
   
}


.emoji-btn {
    position: absolute;
    bottom: 8px;
    left: 45%;
    cursor: pointer;
}

.senden-btn {
    position: absolute;
    bottom: 8px;
    left: 65%;
    cursor: pointer;
}